<style>
	table {
	  font-family: arial, sans-serif;
	  border-collapse: collapse;
	  width: 100%;
	}

	td, th {
	  border: 1px solid #dddddd;
	  text-align: left;
	  padding: 8px;
	}
	
	th {
		background-color: #4CAF50;
	}

	tr:nth-child(even) {
	  background-color: #dddddd;
	}
</style>